@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Inter:wght@400;600;700&family=Montserrat:wght@700&family=Source+Sans+3:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  /* height:100%; */
  width:100%;
  font-family: "DM Sans", sans-serif;
}


.member-btn {
  background-color: #d5e7dc;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 100px;
  box-shadow: rgba(76, 217, 130, 0.2) 0 -25px 18px -14px inset,rgba(59, 198, 112, 0.15) 0 1px 2px,rgba(101, 210, 143, 0.15) 0 2px 4px,rgba(87, 202, 131, 0.15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: #5563e4;
  cursor: pointer;
  display: inline-block;
  font-weight:bold;
  /* font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif; */
  padding: 5px 80px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.member-btn:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) ;
}


.unlock-btn {
  background: linear-gradient(0.10turn, #35776D, #96c0b9, #35776D);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 100px;
  color: white;
  cursor: pointer;
  display: inline-block;
  padding: 1px 50px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-weight: bold;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.unlock-btn:hover {
  transform: scale(1.05) ;
}

.details-btn {
  background: linear-gradient(0.10turn, #35776D, #96c0b9, #35776D);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 100px;
  color: white;
  cursor: pointer;
  display: inline-block;
  padding: 1px 50px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-weight: bold;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.details-btn:hover {
  transform: scale(1.05) ;
}

/* Swiper  */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-clickable .swiper-pagination-bullet{
  cursor: pointer;
  background-color: #35776D;
}

/* phone input  */
.react-tel-input .selected-flag:hover{
  background-color: transparent;
}

.react-tel-input .flag-dropdown.open .selected-flag {
  background: transparent;
}

